<h2><%= @event.title %>
  <% if can?(:edit, @event) %>
  <small><%= link_to 'Edit', edit_event_path(@event)  %></small>
  <% end %>
</h2>
<div>
  <strong>Themes:</strong> <%= @event.themes.map(&:name).join(', ') %>
</div>

<div>
  <strong>City:</strong> <%= @event.city.name %>
</div>

<div>
  <strong>Author:</strong> <%= @event.user.email %>
</div>

<div>
  <strong>Dates:</strong> <%= l @event.start_at %> &mdash; <%= l @event.finish_at %>
</div>

<p>
  <%= simple_format(@event.description) %>
</p>

<div class="button-group">
  
</div>
